# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js
.next/
.next_old/
next-env.d.ts
patch.diff
newtools.js
new-tools-batch.ts
blog_entry_to_add.txt
generate_blog.py
generated_blog_content.txt
.vercel
*.pyc
__pycache__/
.env
*.py
!scripts/*.py
